<div class="container m-0 p-0">
    <div class="row">

        <div id="menu" class="mb-3">
            <div class="btn-group float-start">
                <a href="/" class="btn btn-outline-primary">Home</a>
                <a href="/skill-list" class="btn btn-outline-primary">Skill list</a>
                <a href="/user-list" class="btn btn-outline-primary">User list</a>
                <a href="/t-list" class="btn btn-outline-primary">Temperature list</a>
            </div>

            <div class="btn-group float-end">
                <a href="/skill-form" class="btn btn-outline-success">Set new skill</a>
                <a href="/user-form" class="btn btn-outline-success">Set new user</a>
                <a href="/binded-form" class="btn btn-outline-success">Set new bind between User and Skill</a>
                <a href="/t-form" class="btn btn-outline-success">Set new bind between User and Temperature</a>
            </div>
        </div>

    </div>
</div>