<table class="table table-hover">
    <thead>
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>User name</th>
        <th>Edit</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="user: ${userList}">
        <td th:text="${user.firstName}"/>
        <td th:text="${user.lastName}"/>
        <td th:text="${user.userName}"/>
        <td><a th:href="@{'/user-form/' + ${user.getId()}}">edit</a>
        <td/>
        <td><a th:href="@{'/delete-user/' + ${user.getId()}}">delete</a>
        <td/>
    </tr>

    </tbody>
</table>



