<div th:insert="fragments/Head.html"></div>

<h1 class="display-6">Bind - skill to user</h1>

<div th:insert="fragments/Menu.html"></div>

        <form action="#" th:action="@{/bindedFormProcess}" th:object="${userHasSkill}" method="post">

                    <input type="hidden" th:field="*{id}">

                    <select name="user" th:field="*{user.id}">
                        <option th:each="user : ${userList}"
                                th:value="${user.id}" th:text="${user.getFirstName()} + ' ' + ${user.getLastName()}"></option>
                    </select>


                    <select name="skill" th:field="*{skill.id}">
                        <option th:each="skill : ${skillList}"
                                th:value="${skill.id}" th:text="${skill.getName()} + ' - ' + ${skill.getLevel()}"></option>
                    </select>

                     <input type="submit" class="btn btn-primary" value="Save">

        </form>

</body>
</html>