<div th:insert="fragments/Head.html"></div>

<h1 class="display-6">Binded list - user + skill</h1>

<div th:insert="fragments/Menu.html"></div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Username</th>
            <th>Skill</th>
            <th>Level</th>
            <th>Edit</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="bind : ${bindedList}">
            <td th:text="${bind.id}"/>
            <td th:text="${bind.getUser().getFirstName()}"/>
            <td th:text="${bind.getUser().getLastName()}"/>
            <td th:text="${bind.getUser().getUserName}"/>
            <td th:text="${bind.getSkill().getName()}"/>
            <td th:text="${bind.getSkill().getLevel()}"/>
            <td><a th:href="@{'/binded-form/' + ${bind.getId()}}">edit</a><td/>
            <td><a th:href="@{'/delete-bind/' + ${bind.getId()}}">delete</a><td/>
        </tr>
        </tbody>
    </table>

</body>
</html>