<div th:insert="fragments/Head.html"></div>

<h1 class="display-6">Skill list</h1>

<div th:insert="fragments/Menu.html"></div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Skill</th>
            <th>Level</th>
            <th>Edit</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="skill: ${skillList}">
            <td th:text="${skill.name}"/>
            <td th:text="${skill.level}"/>
            <td><a th:href="@{'/skill-form/' + ${skill.getId()}}">edit</a>
            <td/>
            <td><a th:href="@{'/delete-skill/' + ${skill.getId()}}">delete</a>
            <td/>
        </tr>

        </tbody>
    </table>

</body>
</html>