<div th:insert="fragments/Head.html"></div>

<h1 class="display-6">Add skill</h1>

<div th:insert="fragments/Menu.html"></div>

        <form action="#" th:action="@{/skillFormProcess}" th:object="${skill}" method="post">
            <input type="hidden" placeholder="Set name" th:field="*{id}">
            <input type="text" th:field="*{name}"/>

            <select name="level">
                <option th:each="level : ${T(cz.karmasin.myportfolio.model.entity.Levels).values()}"
                        th:value="${level}" th:text="${level}" th:field="*{level}"></option>
            </select>
            <input type="submit" value="Save">
        </form>

</body>
</html>