<div th:insert="fragments/Head.html"></div>

<h1 class="display-6">Save temperature to User</h1>

<div th:insert="fragments/Menu.html"></div>

<form action="#" th:action="@{/bindedFormProcessT}" th:object="${userHasTemperature}" method="post">

    <input type="hidden" th:field="*{id}">

    <select name="user" th:field="*{user.id}">
        <option th:each="user : ${userList}"
                th:value="${user.id}" th:text="${user.getFirstName()} + ' ' + ${user.getLastName()}"></option>
    </select>

    <input type="number" th:field="*{Temperature.value}" th:max="42"/>

    <input type="date" th:field="*{Temperature.dateIn}"/>

    <input type="time" th:field="*{Temperature.timeIn}"/>



    <input type="submit" class="btn btn-primary" value="Save">

</form>

</body>
</html>