<div th:insert="fragments/Head.html"></div>

<h1 class="display-6">Binded list - user + temperature</h1>

<div th:insert="fragments/Menu.html"></div>

<table class="table table-hover">
  <thead>
  <tr>
    <th>ID</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Temperature</th>
    <th>Date</th>
    <th>Time</th>
    <th>Edit</th>
  </tr>
  </thead>

  <tbody>
  <tr th:each="t : ${TemperatureList}">
    <td th:text="${t.id}"/>
    <td th:text="${t.getUser().getFirstName()}"/>
    <td th:text="${t.getUser().getLastName()}"/>
    <td th:text="${t.getTemperature().getValue()}"/>
    <td th:text="${t.getTemperature().getDateIn()}"/>
    <td th:text="${t.getTemperature().getTimeIn()}"/>


    <td><a th:href="@{'/t-form/' + ${t.getId()}}">edit</a><td/>
    <td><a th:href="@{'/delete-t/' + ${t.getId()}}">delete</a><td/>
  </tr>
  </tbody>
</table>

</body>
</html>