<div th:insert="fragments/Head.html"></div>

<h1 class="display-6">Add user</h1>

<div th:insert="fragments/Menu.html"></div>

    <div>
        <form action="#" th:action="@{/userFormProcess}" th:object="${user}" method="post">
            <input type="hidden" th:field="*{id}">
            <input type="text" placeholder="First name" th:field="*{firstName}"/>
            <input type="text" placeholder="Last name" th:field="*{lastName}"/>
            <input type="text" placeholder="User name" th:field="*{userName}"/>
            <input type="submit" value="Save">
        </form>

    </div>

</body>
</html>