<div th:insert="fragments/Head.html"></div>

<h1 class="display-6">User list user</h1>

<div th:insert="fragments/Menu.html"></div>

    <div th:insert="fragments/userListFragment.html"></div>

</body>
</html>